@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa&display=swap');

body {
    color: #fefefe;
    background-color: #121212;
    font-family: 'Lisu Bosa', serif;
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column;
}
